img{
    width: 45%;
    display: flex;
    padding-top: 40px;

}
div {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    justify-content: space-between;
}
 .khan{
 text-align: center;
 font-size: xx-large;
 padding-top: 30px;
 background-color: aqua;
 justify-content: center;
 height: 400px;
}